---
const { title = 'LogicNest Networks', description = 'Hosting for communities & creators' } = Astro.props;
import "../styles/tailwind.css";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="min-h-screen bg-grad text-white">
    <slot name="header" />
    <main><slot /></main>
    <slot name="footer" />
  </body>
</html>
